* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden  ;
    font-family: Arial, sans-serif;
}

nav,
main,
footer, 
.image-div,
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.list,
li.item-bordered {
    background-color: #e8e5e480;
}

p.main-title, 
.before-footer{
    text-align: center;
}

nav {
    width: 100vw;
    height: 10vh;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

ul.list{
    width: 18rem;
    height: 3rem;
    margin-top: 2rem;
    position: fixed;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    z-index: 100;
}

ul.main-list {
    width: 25rem;
    margin-top: 3rem;
}
li {
    list-style: none;
}

li.item-bordered {
    border-radius: 30px;
    padding: 10px;
}

.main-content {
    margin-top: 10rem;
    flex-direction: column;
}

p.main-title {
    width: 40vw;
    font-size: 4.5rem;
    font-weight: 550;
}

.image-div {
    margin-top: 12rem;
}

.list-image {
    width: 75vw;
    display: grid; 
    grid-template-columns: auto auto;
    gap: 1rem;
}

img {
    width: 100%;
    border-radius: 20px;
    object-fit: contain;
}

.image:hover {
    filter: blur(4px);
    cursor: pointer;
}

.before-footer {
    padding: 12rem 0rem;
}

.before-footer > p {
    font-size: 2.5rem;
    font-weight: bold;
}

p.text-grey {
    color: #7f7f7f;
}

footer {
   height:8vh;
}

.footer-div{
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-footer {
    width: 12rem;
}


/* Responsive */
@media only screen and (max-width: 1200px) {
   p.main-title {
    width: 80vw;
    font-size: 3rem;
   }
   .image-div {
    margin-top: 8rem;
   }
}

@media only screen and (max-width: 800px) {
    ul.main-list {
        display: none;
    }
    .main-content {
        margin-top: 7rem;
    }
    p.main-title {
        width: 100vw;
        font-size: 2.5rem;
   }
   .image-div {
        margin-top: 6rem;
   }
   .list-image {
        width: 90vw;
        display: flex;
        flex-direction: column;
   }
   .before-footer{
        width: 100vw;
   }
   .footer-div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
   }
}

@media only screen and (max-width: 480px) {
    p.main-title {
        width: 90vw;
        font-size: 2.3rem;
    }
}